*{
  margin: 0;
  padding: 0;
}
nav{
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 10px;
}
ul{
  display: flex;
  gap: 20px;
}
li{
  list-style: none;
}
section{
  height: 100vh;
  border: 1px solid red;
}
.mainSection{
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}